Disci_Hekim_Program/Service References/IslemServis/Islemler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GecmisIslemler">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GecmisIslemlerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GecmisIslemlerResult" type="tns:ArrayOfIslem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIslem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Islem" nillable="true" type="tns:Islem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Islem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IslemID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HekimID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HastaID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HastaAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HastaSoyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IslemAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tarih" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToplamTutar" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="IslemOlusturVeIDGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hekimid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hastaid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="islemadi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="toplamtutar" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IslemOlusturVeIDGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IslemOlusturVeIDGetirResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TariheGoreVeriGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarih" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TariheGoreVeriGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TariheGoreVeriGetirResult" type="tns:ArrayOfIslem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IslemListele">
        <s:complexType />
      </s:element>
      <s:element name="IslemListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IslemListeleResult" type="tns:ArrayOfIslem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GecmisIslemlerSoapIn">
    <wsdl:part name="parameters" element="tns:GecmisIslemler" />
  </wsdl:message>
  <wsdl:message name="GecmisIslemlerSoapOut">
    <wsdl:part name="parameters" element="tns:GecmisIslemlerResponse" />
  </wsdl:message>
  <wsdl:message name="IslemOlusturVeIDGetirSoapIn">
    <wsdl:part name="parameters" element="tns:IslemOlusturVeIDGetir" />
  </wsdl:message>
  <wsdl:message name="IslemOlusturVeIDGetirSoapOut">
    <wsdl:part name="parameters" element="tns:IslemOlusturVeIDGetirResponse" />
  </wsdl:message>
  <wsdl:message name="TariheGoreVeriGetirSoapIn">
    <wsdl:part name="parameters" element="tns:TariheGoreVeriGetir" />
  </wsdl:message>
  <wsdl:message name="TariheGoreVeriGetirSoapOut">
    <wsdl:part name="parameters" element="tns:TariheGoreVeriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IslemListeleSoapIn">
    <wsdl:part name="parameters" element="tns:IslemListele" />
  </wsdl:message>
  <wsdl:message name="IslemListeleSoapOut">
    <wsdl:part name="parameters" element="tns:IslemListeleResponse" />
  </wsdl:message>
  <wsdl:portType name="IslemlerSoap">
    <wsdl:operation name="GecmisIslemler">
      <wsdl:input message="tns:GecmisIslemlerSoapIn" />
      <wsdl:output message="tns:GecmisIslemlerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IslemOlusturVeIDGetir">
      <wsdl:input message="tns:IslemOlusturVeIDGetirSoapIn" />
      <wsdl:output message="tns:IslemOlusturVeIDGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TariheGoreVeriGetir">
      <wsdl:input message="tns:TariheGoreVeriGetirSoapIn" />
      <wsdl:output message="tns:TariheGoreVeriGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IslemListele">
      <wsdl:input message="tns:IslemListeleSoapIn" />
      <wsdl:output message="tns:IslemListeleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IslemlerSoap" type="tns:IslemlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GecmisIslemler">
      <soap:operation soapAction="http://tempuri.org/GecmisIslemler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IslemOlusturVeIDGetir">
      <soap:operation soapAction="http://tempuri.org/IslemOlusturVeIDGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TariheGoreVeriGetir">
      <soap:operation soapAction="http://tempuri.org/TariheGoreVeriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IslemListele">
      <soap:operation soapAction="http://tempuri.org/IslemListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IslemlerSoap12" type="tns:IslemlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GecmisIslemler">
      <soap12:operation soapAction="http://tempuri.org/GecmisIslemler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IslemOlusturVeIDGetir">
      <soap12:operation soapAction="http://tempuri.org/IslemOlusturVeIDGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TariheGoreVeriGetir">
      <soap12:operation soapAction="http://tempuri.org/TariheGoreVeriGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IslemListele">
      <soap12:operation soapAction="http://tempuri.org/IslemListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Islemler">
    <wsdl:port name="IslemlerSoap" binding="tns:IslemlerSoap">
      <soap:address location="http://localhost:65390/Islemler.asmx" />
    </wsdl:port>
    <wsdl:port name="IslemlerSoap12" binding="tns:IslemlerSoap12">
      <soap12:address location="http://localhost:65390/Islemler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>