Disci_Hekim_Program/Service References/GirisKontrol/Giris.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GirisKontrol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kullaniciadi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GirisKontrolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GirisKontrolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SifreGonder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SifreGonderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SifreGonderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MailKontrol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MailKontrolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MailKontrolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GirisKontrolSoapIn">
    <wsdl:part name="parameters" element="tns:GirisKontrol" />
  </wsdl:message>
  <wsdl:message name="GirisKontrolSoapOut">
    <wsdl:part name="parameters" element="tns:GirisKontrolResponse" />
  </wsdl:message>
  <wsdl:message name="SifreGonderSoapIn">
    <wsdl:part name="parameters" element="tns:SifreGonder" />
  </wsdl:message>
  <wsdl:message name="SifreGonderSoapOut">
    <wsdl:part name="parameters" element="tns:SifreGonderResponse" />
  </wsdl:message>
  <wsdl:message name="MailKontrolSoapIn">
    <wsdl:part name="parameters" element="tns:MailKontrol" />
  </wsdl:message>
  <wsdl:message name="MailKontrolSoapOut">
    <wsdl:part name="parameters" element="tns:MailKontrolResponse" />
  </wsdl:message>
  <wsdl:portType name="GirisSoap">
    <wsdl:operation name="GirisKontrol">
      <wsdl:input message="tns:GirisKontrolSoapIn" />
      <wsdl:output message="tns:GirisKontrolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SifreGonder">
      <wsdl:input message="tns:SifreGonderSoapIn" />
      <wsdl:output message="tns:SifreGonderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MailKontrol">
      <wsdl:input message="tns:MailKontrolSoapIn" />
      <wsdl:output message="tns:MailKontrolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GirisSoap" type="tns:GirisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GirisKontrol">
      <soap:operation soapAction="http://tempuri.org/GirisKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SifreGonder">
      <soap:operation soapAction="http://tempuri.org/SifreGonder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailKontrol">
      <soap:operation soapAction="http://tempuri.org/MailKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GirisSoap12" type="tns:GirisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GirisKontrol">
      <soap12:operation soapAction="http://tempuri.org/GirisKontrol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SifreGonder">
      <soap12:operation soapAction="http://tempuri.org/SifreGonder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailKontrol">
      <soap12:operation soapAction="http://tempuri.org/MailKontrol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Giris">
    <wsdl:port name="GirisSoap" binding="tns:GirisSoap">
      <soap:address location="http://localhost:65390/Giris.asmx" />
    </wsdl:port>
    <wsdl:port name="GirisSoap12" binding="tns:GirisSoap12">
      <soap12:address location="http://localhost:65390/Giris.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>