Disci_Hekim_Program/Service References/HizmetServis/Hizmetler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HizmetListele">
        <s:complexType />
      </s:element>
      <s:element name="HizmetListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HizmetListeleResult" type="tns:ArrayOfHizmet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHizmet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hizmet" nillable="true" type="tns:Hizmet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hizmet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HizmetAdi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimFiyat" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="BirimFiyatGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimFiyatGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BirimFiyatGetirResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetAdiGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetAdiGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HizmetAdiGetirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hizmetadi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birimfiyat" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetEkleResponse">
        <s:complexType />
      </s:element>
      <s:element name="HizmetGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hizmetadi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birimfiyat" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetGuncelleResponse">
        <s:complexType />
      </s:element>
      <s:element name="HizmetSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HizmetSilResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HizmetListeleSoapIn">
    <wsdl:part name="parameters" element="tns:HizmetListele" />
  </wsdl:message>
  <wsdl:message name="HizmetListeleSoapOut">
    <wsdl:part name="parameters" element="tns:HizmetListeleResponse" />
  </wsdl:message>
  <wsdl:message name="BirimFiyatGetirSoapIn">
    <wsdl:part name="parameters" element="tns:BirimFiyatGetir" />
  </wsdl:message>
  <wsdl:message name="BirimFiyatGetirSoapOut">
    <wsdl:part name="parameters" element="tns:BirimFiyatGetirResponse" />
  </wsdl:message>
  <wsdl:message name="HizmetAdiGetirSoapIn">
    <wsdl:part name="parameters" element="tns:HizmetAdiGetir" />
  </wsdl:message>
  <wsdl:message name="HizmetAdiGetirSoapOut">
    <wsdl:part name="parameters" element="tns:HizmetAdiGetirResponse" />
  </wsdl:message>
  <wsdl:message name="HizmetEkleSoapIn">
    <wsdl:part name="parameters" element="tns:HizmetEkle" />
  </wsdl:message>
  <wsdl:message name="HizmetEkleSoapOut">
    <wsdl:part name="parameters" element="tns:HizmetEkleResponse" />
  </wsdl:message>
  <wsdl:message name="HizmetGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:HizmetGuncelle" />
  </wsdl:message>
  <wsdl:message name="HizmetGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:HizmetGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="HizmetSilSoapIn">
    <wsdl:part name="parameters" element="tns:HizmetSil" />
  </wsdl:message>
  <wsdl:message name="HizmetSilSoapOut">
    <wsdl:part name="parameters" element="tns:HizmetSilResponse" />
  </wsdl:message>
  <wsdl:portType name="Hizmetler1Soap">
    <wsdl:operation name="HizmetListele">
      <wsdl:input message="tns:HizmetListeleSoapIn" />
      <wsdl:output message="tns:HizmetListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BirimFiyatGetir">
      <wsdl:input message="tns:BirimFiyatGetirSoapIn" />
      <wsdl:output message="tns:BirimFiyatGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HizmetAdiGetir">
      <wsdl:input message="tns:HizmetAdiGetirSoapIn" />
      <wsdl:output message="tns:HizmetAdiGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HizmetEkle">
      <wsdl:input message="tns:HizmetEkleSoapIn" />
      <wsdl:output message="tns:HizmetEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HizmetGuncelle">
      <wsdl:input message="tns:HizmetGuncelleSoapIn" />
      <wsdl:output message="tns:HizmetGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HizmetSil">
      <wsdl:input message="tns:HizmetSilSoapIn" />
      <wsdl:output message="tns:HizmetSilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Hizmetler1Soap" type="tns:Hizmetler1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HizmetListele">
      <soap:operation soapAction="http://tempuri.org/HizmetListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimFiyatGetir">
      <soap:operation soapAction="http://tempuri.org/BirimFiyatGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetAdiGetir">
      <soap:operation soapAction="http://tempuri.org/HizmetAdiGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetEkle">
      <soap:operation soapAction="http://tempuri.org/HizmetEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetGuncelle">
      <soap:operation soapAction="http://tempuri.org/HizmetGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetSil">
      <soap:operation soapAction="http://tempuri.org/HizmetSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Hizmetler1Soap12" type="tns:Hizmetler1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HizmetListele">
      <soap12:operation soapAction="http://tempuri.org/HizmetListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimFiyatGetir">
      <soap12:operation soapAction="http://tempuri.org/BirimFiyatGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetAdiGetir">
      <soap12:operation soapAction="http://tempuri.org/HizmetAdiGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetEkle">
      <soap12:operation soapAction="http://tempuri.org/HizmetEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetGuncelle">
      <soap12:operation soapAction="http://tempuri.org/HizmetGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HizmetSil">
      <soap12:operation soapAction="http://tempuri.org/HizmetSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hizmetler1">
    <wsdl:port name="Hizmetler1Soap" binding="tns:Hizmetler1Soap">
      <soap:address location="http://localhost:65390/Hizmetler.asmx" />
    </wsdl:port>
    <wsdl:port name="Hizmetler1Soap12" binding="tns:Hizmetler1Soap12">
      <soap12:address location="http://localhost:65390/Hizmetler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>